*.log
__pycache__
iib.db
tags-translate.csv
launch.sh
conf.json
iib.db-journal
.env
standalone*
.vscode
build/**/*
dist/**/*
*.spec
out/**/*
venv/**/*
zip_temp/*.zip
iib_db_backup
db_migrate_temp.db
plugins/*
!plugins/.gitkeep
test_data/*
.DS_Store
iib_output
iib.db-shm
iib.db-wal
.cursor/

CLAUDE.md
.claude/*
videos/启动&添加文件夹构建索引.mp4
videos/图像搜索和链接跳转.mp4
videos/ai智能文件整理.mp4
videos/skills安装&启动.mp4
